<h1><%= @type.name %></h1>

<%= link_to "Back", types_path %>

</br>

<% @type.pokemons.each do |poke_type| %>
    <%= image_tag poke_type.url %>
    <%= link_to poke_type.name, poke_type %>
    </br>
<% end %>