<h1><%= @ability.name %></h1>

<%= link_to "Back", abilities_path %>

<p><%= @ability.description %></p>

<% @ability.pokemons.each do |poke_ab| %>
    <%= link_to poke_ab.name, poke_ab %>
    </br>
<% end %>