<h1>Pokemons</h1>

<% @pokemons.each do |pokemon| %>
    <ul>
    <%= link_to pokemon.name, pokemon %>
    <% unless pokemon.url.blank? %>
    <%= image_tag pokemon.url %>
    <% end %>
    </ul>
<% end %>

<%= paginate @pokemons %>